$primary-color: #ffcb05;
$secondary-color: hsl(37, 100%, 51%);
$shadow-color:rgba(0,0,255,.15);
$black: #222223;
$soft-black: #242525;
$white: white;
$grey:rgb(114, 182, 250);
$dark-grey:rgb(79, 74, 83);
$background:#3466AF;
$azul-oscuro:#0c2346;
$azul-oscuro-hover:#0e3a7c;


$ipad-breakpoint: 768px;